<html>
<head>
<style type="text/css">a {text-decoration: none;color:red}</style>
<title>ABgame</title>
</head>
<body bgcolor="#000">
<font face="Comic Sans MS" size="6">
<center style="color: white">
<h1>AB Guess Number Game!</h1>
Hello! Let's play a game!<br>
A guess number game.<br><br>
You need to guess 4 different numbers.<br>
If there is a number in the answer, I'll print out 'B'.<br>
If there is a number in the answer and at the correct index, I'll print out 'A'.<br><br>
Example:
<div style="color: gray">answer: 2583 (Will not show in the game.)</div><br>
guess1: <div style="color: purple"><pre>    0123</pre></div>
<div style="color: blue"><pre>    1A1B</pre></div>
guess2: <div style="color: purple"><pre>    2537</pre></div>
<div style="color: blue"><pre>    2A1B</pre></div>
<br><br>
<a href="/Fun/ABgame/play">Play Game!</a>


