<html>
<head>
<title>Login</title>
</head>
<body>
<center>
<font size="8">Login</font><br>
<font size="5">
<form method="post">
<label><pre>Username</pre>
<input type="text" name="username">
</label><br>------------------------------------------------------------------
<label><pre>Password</pre>
<input type="password" name="password">
</label><br>------------------------------------------------------------------
<div style="color: red">{{erlogin}}</div>
<br>
<input type="submit">
</form>
</body>
</html>
