<html>
<head>
<style type="text/css">a {text-decoration: none;color:black}</style>
<title>NewPost</title>
</head>
<body bgcolor="#FFFFCC">
<center>
<br><br><font face="Comic Sans MS">
<h1><a href="/Unit5/blog">MyBlog</a></h1><br>
<h2>New Post!</h2>
<form method="post">
<label>
<div>Subject</div>
<input name="subject" value="{{subject}}" size="70">
</label>
<label>
<div>Content</div>
<textarea name="content" cols="50" rows="30">{{content}}</textarea>
</label><br>
<div style="color:red">{{error}}</div>
<input type="submit">
</form>
</body>
</html>
